Week 5- Complex data structures- list, tuples, sets, dictionaries and DataFrames

In [13]:
#declare a single input/output pin
import adafruit_ssd1306
import board
import busio
import digitalio
from PIL import Image, ImageDraw, ImageFont
import adafruit_ssd1306
import time

#create a list to store all leds reference
leds = []
for i in range(0, 4):
    ledRef = digitalio.DigitalInOut(eval('board.'+dir(board)[i]))
    ledRef.direction = digitalio.Direction.OUTPUT
    leds.append(ledRef)

leds[0].value = False

Tuple in Python

In [32]:
import sys
triangleCoodinate = (30, 20)

aList = [1, 2, 3, 4]
aTuple = (1, 2, 3, 4)

print(sys.getsizeof(aList))
print(sys.getsizeof(aTuple))

a_triangle = ((10, 20), (5, 10), (15, 10)) #use nested tuples
triangles = [((10, 20), (5, 10), (15, 10)), ((10, 20), (5, 10), (15, 10))]
triangles.append(((10, 20), (5, 10), (15, 10)))
print(triangles)
triangles_tuple = tuple(triangles)
print(triangles_tuple)
triangles_list = list(triangles_tuple)
print(triangles_list)

88
72
[((10, 20), (5, 10), (15, 10)), ((10, 20), (5, 10), (15, 10)), ((10, 20), (5, 10), (15, 10))]
(((10, 20), (5, 10), (15, 10)), ((10, 20), (5, 10), (15, 10)), ((10, 20), (5, 10), (15, 10)))
[((10, 20), (5, 10), (15, 10)), ((10, 20), (5, 10), (15, 10)), ((10, 20), (5, 10), (15, 10))]

Set operations

In [39]:
set1 = {1, 2, 3, 4, 5}
print(set1)
set1.add(2)
print(set1)
set1.add(6)
print(len(set1))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
6

In [71]:
from random import randint
#create 10 random number
randomNums = {1}
print(type(randomNums))
randomNums.remove(1)
while (len(randomNums)<10):    
    randomNums.add(randint(0, 100))
print(randomNums)

<class 'dict'>

AttributeError: 'dict' object has no attribute 'remove'

set operations

In [70]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}
set3 = set1.union(set2)
print(set3)
set3 = set1.intersection(set2)
print(set3)
print(4 in set2)
print ("be" in "to be or not to be")

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
True
True

Dictionary data strcuture

In [85]:
student= {
    "name": "Hamlet",
    "age" : 18,
    "language": "eng"
}

student2= {
    "name": "Hamlet2",
    "age" : 28,
    "language": "cantonese"
}

students = [student, student2]
#print(students[1]["name"])
for key in students[0]:
    print(key)
    print(students[0][key])

name
Hamlet
age
18
language
eng

Pandas Data Frame

In [27]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
#print(data[0])
df = pd.DataFrame(data, index = ["run", "jogging", "run"])
print(df)
print("#####")
print(df.loc[["run"]])

         calories  duration
run           420        50
jogging       380        40
run           390        45
#####
     calories  duration
run       420        50
run       390        45

Reading JSON

In [29]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.0
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.0
4        45    117       148     406.0
5        60    102       127       NaN

In [55]:
import pandas as pd
import pathlib
import os
import pandas as pd
os.chdir("c:/Users/W0304991/Downloads")

df = pd.read_csv("nbaregular.csv", encoding = "ISO-8859-1", sep = ';')

print(df.loc[df['AST'] > 7.5])

      Rk             Player Pos  Age   Tm   G  GS    MP    FG   FGA  ...  \
30    23        LaMelo Ball  PG   22  CHO  22  22  32.3   8.3  19.2  ...
171  128        Luka Don?i?  PG   24  DAL  70  70  37.5  11.5  23.6  ...
265  196  Tyrese Haliburton  PG   23  IND  69  68  32.2   7.2  15.2  ...
268  199       James Harden  PG   34  LAC  72  72  34.3   4.9  11.4  ...
325  250       LeBron James  PF   39  LAL  71  71  35.3   9.6  17.9  ...
340  263       Nikola Joki?   C   28  DEN  79  79  34.6  10.4  17.9  ...
462  358          Ja Morant  PG   24  MEM   9   9  35.3   8.9  18.9  ...
577  444   Domantas Sabonis   C   27  SAC  82  82  35.7   7.7  13.0  ...
662  515      Fred VanVleet  PG   29  HOU  73  73  36.8   5.8  13.9  ...
731  569         Trae Young  PG   25  ATL  54  54  36.0   8.0  18.7  ...

       FT%  ORB   DRB   TRB   AST  STL  BLK  TOV   PF   PTS
30   0.865  1.3   3.8   5.1   8.0  1.8  0.2  3.8  3.6  23.9
171  0.786  0.8   8.4   9.2   9.8  1.4  0.5  4.0  2.1  33.9
265  0.855  0.5   3.4   3.9  10.9  1.2  0.7  2.3  1.1  20.1
268  0.878  0.5   4.7   5.1   8.5  1.1  0.8  2.6  1.8  16.6
325  0.750  0.9   6.4   7.3   8.3  1.3  0.5  3.5  1.1  25.7
340  0.817  2.8   9.5  12.4   9.0  1.4  0.9  3.0  2.5  26.4
462  0.813  0.7   4.9   5.6   8.1  0.8  0.6  3.0  2.1  25.1
577  0.704  3.6  10.1  13.7   8.2  0.9  0.6  3.3  3.0  19.4
662  0.860  0.5   3.4   3.8   8.1  1.4  0.8  1.7  2.5  17.4
731  0.855  0.4   2.3   2.8  10.8  1.3  0.2  4.4  2.0  25.7

[10 rows x 30 columns]